@{
    Layout = "_Layout";
}
@model Factory.Models.Machine

<h1>Assign an engineer to this machine</h1>

<h3>Assigning an engineer to: @Html.DisplayFor(model => model.MachineName)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select engineer: ")
    @Html.DropDownList("EngineerId")

    <br>

    <input type="submit" value="Add" class="btn btn-outline-warning btn-sm" />
}
<br>
<p>@Html.ActionLink("Machine List", "Index", null, null, new {@class="btn btn-outline-warning btn-sm"})</p>