@{
    Layout = "_Layout";
}
@model Factory.Models.Machine

<h3>Edit Machine @Html.DisplayFor(model => model.MachineName)</h3>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)
    @Html.Label("Machine Name ")
    @Html.EditorFor(model => model.MachineName, new {@required="required"})

    <br>

    @Html.Label("Machine Status ")
    @Html.EditorFor(model => model.MachineStatus, new {@required="required"})

    <br>

    <input type="submit" value="Save Changes" class="btn btn-outline-warning btn-sm" />
}

<hr />
<p>@Html.ActionLink("Back to Machines", "Index", null, null, new {@class="btn btn-outline-warning btn-sm"})</p>