@{
    Layout = "_Layout";
}
@model Factory.Models.Engineer

<h1>Assign a Machine to this Engineer</h1>

<h3>Add a Machine to this Engineer: @Html.DisplayFor(model => model.EngineerName)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select Machine: ")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" class="btn btn-outline-warning btn-sm" />
}
<br>
<p>@Html.ActionLink("Engineer roster", "Index", null, null, new {@class="btn btn-outline-warning btn-sm"})</p>