@{
    Layout = "_Layout";
}
@model Factory.Models.Engineer

<h3>Add a new Engineer to the roster</h3>
<hr />
@using (Html.BeginForm())
{

    @Html.Label("Engineer Name: ")
    @Html.TextBoxFor(model => model.EngineerName, new {@required="required"})

    <br>

    @Html.Label("Engineer Status: (Stand-By, Busy) ")
    @Html.TextBoxFor(model => model.EngineerStatus, new {@required="required"})

    <br>

    <input type="submit" value="Add Engineer" class="btn btn-outline-warning btn-sm" />
}

<br>

<p>@Html.ActionLink("Show roster", "Index", null, null, new {@class="btn btn-outline-warning btn-sm"})</p>