@{
    Layout = "_Layout";
}
@model Factory.Models.Engineer

<h3>Edit Engineer info for: @Html.DisplayFor(model => model.EngineerName)</h3>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)
    @Html.Label("Engineer Name: ")
    @Html.EditorFor(model => model.EngineerName, new {@required="required"})

    <br>

    @Html.Label("Engineer Status: ")
    @Html.EditorFor(model => model.EngineerStatus, new {@required="required"})

    <input type="submit" value="Save Changes" class="btn btn-outline-warning btn-sm" />
}

<p>@Html.ActionLink("Back to Engineer roster", "Index", null, null, new {@class="btn btn-outline-warning btn-sm"})</p>